In [ ]:
#Chapter 3 An Informal Introduction to Python

In [16]:
# this is the first comment
spam = 1 # and this is the second comment
            # ... and now a third!
text = "#this is not a comment because it's inside quotes."

In [9]:
2+2

In [10]:
50 - 5*6

20

In [11]:
(50 - 5*6)/4

5.0

In [12]:
8/5 # division always returns a floating point number

1.6

In [17]:
17 / 3 # classic division returns a float

5.666666666666667

In [18]:
17 // 3 # floor division discards the fractional part

5

In [19]:
17 % 3  # the % (modulus) operator returns the remainder of the division

2

In [20]:
5 * 3 + 2  # result * divisor + remainder

17

In [21]:
5 ** 2  # 5 squared

25

In [22]:
2 ** 7  # 2 to the power of 7

128

In [23]:
width = 20
height = 5*9
width*height

900

In [24]:
n  # try to access an undefined variable (a variable with no value assigned to it) - you'll get a NameError

NameError: name 'n' is not defined

In [27]:
4 * 3.75 - 1 #note operators with mixed type operands convert integer to floating point.

14.0

In [33]:

# In interactive mode, the last printed expression is assigned to the variable _. 
# This means that when you are using Python as a desk calculator, 
# it is somewhat easier to continue calculations, for example:

# This variable should be treated as read-only by the user. 
# Don’t explicitly assign a value to it — you would create 
# an independent local variable with the same name masking 

# the built-in variable with its magic behavior.

#In addition to int and float, Python supports other types 
# of numbers, such as Decimal and Fraction. Python also has 
# built-in support for complex numbers, and uses 
# the j or J suffix to indicate the imaginary part (e.g. 3+5j).

tax = 12.5/100
price=100.50
price*tax
12.5625
price+_
113.0625
round(_,2)

113.06

In [37]:
'spam eggs' #single quotes

'spam eggs'

In [38]:
'doesn\'t'  # use \' to escape the single quote..

"doesn't"

In [39]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [40]:
'"Yes," they said.'

'"Yes," they said.'

In [41]:
"\"Yes,\" they said."

'"Yes," they said.'

In [42]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [43]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [44]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [45]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [46]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [48]:
#If you don’t want characters prefaced 
#by \ to be interpreted as special characters, 
#you can use raw strings by adding an r before the first quote:

print('C:\some\name')  # here \n means newline!

C:\some
ame

In [49]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [50]:
#String literals can span multiple lines. 
#One way is using triple-quotes: """...""" or '''...'''. 
#End of lines are automatically included in the string, 
#but it’s possible to prevent this by adding a \ at the end of the line. 

print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [51]:
#Strings can be concatenated (glued together) with the + operator, and repeated with *:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [52]:
#Two or more string literals (i.e. the ones enclosed between quotes) 
#next to each other are automatically concatenated.

'Py' 'thon'

#This feature is particularly useful when you want to break long strings
#put several strings within parentheses to have them joined together.

'Python'

In [62]:
#only works with strings - not variables or expressions as the two below examples.
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-62-f9fada4208bf>, line 3)

In [63]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-63-f4764cbe42a8>, line 1)

In [65]:
#To concatenate a variable and a literal, use +
prefix = 'Py'
prefix + 'thon'

'Python'

In [66]:
#Indexing strings. Note - there is no separate character type (?): 
#a char is simply a string of size one.

word = 'Python'
word[0] # char in position 0

'P'

In [67]:
word[5] #char in position 5

'n'

In [68]:
#can also be negative numbers, starting from the right
word[-1] #last character
#Note that since -0 is the same as 0, negative indices start from -1.

'n'

In [70]:
#While indexing is used to obtain individual characters, 
#slicing allows you to obtain substring
#word[0:2] #characters from position 0 (included) to 2 (excluded) 
#- this makes sure that s[:i] + s[i:] is always equal to s as below:

word[:2] + word[2:]

'Python'

In [71]:
word[:4] + word[4:]

'Python'

In [72]:
#Slice indices have useful defaults; 
#an omitted first index defaults to zero, 
#an omitted second index defaults to the size of the string being sliced.

In [74]:
#Python strings cannot be changed — they are immutable. 
#Therefore, assigning to an indexed position in the string results in an error:

word = 'Python'
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [75]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [76]:
#If you need a different string, you should create a new one:
'J' + word[1:]

'Jython'

In [77]:
word[:2] + 'py'

'Pypy'

In [78]:
#The built-in function len() returns the length of a string:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [79]:
#see also on python.org official tutorial site: 
#Text Sequence Type — str
#string methods
#formatted string literals
#format string syntax
#printf-style string formatting

In [81]:
#Python knows a number of compound data types, 
#used to group together other values. The most versatile is the list, 
#which can be written as a list of comma-separated values (items) 
#between square brackets. Lists might contain items of different types, 
#but usually the items all have the same type.

squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [82]:
#Like strings (and all other built-in sequence types), 
#lists can be indexed and sliced:

squares[0]  # indexing returns the item

1

In [83]:
squares[-1]

25

In [84]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [85]:
#All slice operations return a new list containing the requested elements. 
#This means that the following slice returns a new (shallow) copy of the list:

squares[:]

[1, 4, 9, 16, 25]

In [86]:
#concatenation
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
#Unlike strings, which are immutable, 
#lists are a mutable type, i.e. it is possible to change their content
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [89]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [90]:
#You can also add new items at the end of the list, 
#by using the append() method (we will see more about methods later)

cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [91]:
#Assignment to slices is also possible, 
#and this can even change the size of the list or clear it entirely:

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [92]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [93]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [95]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [96]:
#The built-in function len() also applies to lists
letters =['a', 'b', 'c', 'd']
len(letters)

4

In [97]:
#It is possible to nest lists (create lists containing other lists), for example:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [98]:
x[0]

['a', 'b', 'c']

In [99]:
x[0][1]

'b'

In [100]:
#First Steps Towards Programming
#Of course, we can use Python for more complicated tasks than adding two and two together. 
#For instance, we can write an initial sub-sequence of the Fibonacci series as follows:

# Fibonacci series:
# the sum of two elements defines the next

a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [101]:
#This example introduces several new features.

# 1. The first line contains a multiple assignment: 
#the variables a and b simultaneously get the new values 0 and 1. 
#On the last line this is used again, demonstrating that 
#the expressions on the right-hand side are all evaluated first 
#before any of the assignments take place. 
#The right-hand side expressions are evaluated from the left to the right.


# 2. The while loop executes as long as 
#the condition (here: a < 10) remains true. 
#In Python, like in C, any non-zero integer value is true; 
#zero is false. The condition may also be a string or list value, 
#in fact any sequence; anything with a non-zero length is true, 
#empty sequences are false. The test used in the example 
#is a simple comparison. The standard comparison operators 
#are written the same as in C: < (less than), > (greater than), 
#== (equal to), <= (less than or equal to), 
#>= (greater than or equal to) and != (not equal to).

#3. The body of the loop is indented: indentation is Python’s way 
#of grouping statements. At the interactive prompt, you have to type 
#a tab or space(s) for each indented line. In practice you will prepare 
#more complicated input for Python with a text editor; 
#all decent text editors have an auto-indent facility. 
#When a compound statement is entered interactively, it must be followed 
#by a blank line to indicate completion (since the parser cannot guess 
#when you have typed the last line). 
#Note that each line within a basic block must be indented by the same amount.

#4. The print() function writes the value of the argument(s) it is given. 
#It differs from just writing the expression you want to write (as we did
#earlier in the calculator examples) in the way it handles multiple arguments, 
#floating point quantities, and strings. Strings are printed without quotes, 
#and a space is inserted between items, 
#so you can format things nicely, like this:

i = 256*256
print('The value of i is', i)

The value of i is 65536

In [102]:
#The keyword argument end can be used to avoid the newline 
#after the output, or end the output with a different string:

a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,